@media (max-width: 570px) {

  .navbar-brand {
    width: fit-content;
  }
  .navbar-brand img {
    width: 44px;
  }
  .navbar .button1 {
    width: 176px;
    height: 44px;
    padding: 0;
  }


  .intro h1 {
    font-size: 36px;
    line-height: 45px;
  }


  .first-block {
    width: 99%;
    height: 364px;
    margin-bottom: 24px;
  }
  .second-block,
  .third-block {
    width: 99%;
  }
  .second-block-1 {
    margin-right: 24px;
  }
  .second-block-bottom {
    margin-top: 24px;
  }
  .second-block {
    margin-bottom: 24px;
  }
  .row-3-2 {
    margin-top: 24px;
    position: relative;
    left: 0;
    bottom: 0;
  }
  .third-block-2 {
    margin-left: 0;
  }

  .profile-block {
    margin-bottom: 15vh;
  }
  .profile-row {
    margin-top: 20vh;
  }
  .profile-pic {
    margin-left: 0;
  }
  .profile-row {
    margin: 0;
    padding: 0;
  }
  .profile-text {
    margin: 10vh 0 0 0;
    text-align: center;
  }
  .profile-text h2 {
    font-size: 26px;
    line-height: 33px;
  }


  .mywork-heading {
    margin-bottom: 5vh;
  }
  .mywork .work-image {
    width: 60vw;
    margin: 0 10px 25px 10px;
  }
  .slick-prev {
    left: 28vw;
  }
  .slick-next {
    right: 28vw;
  }

  .contact-me {
    margin-top: 30vh;
    padding: 49px 24px;
  }
  .book-a-call h2 {
    font-size: 26px;
    line-height: 33px;
  }
}
